.ui.container.elearning-page {
  display: block;
  width: 100% !important;
  padding: 0 10px !important;
  margin: 0 !important;
  .ui.segment.main-segment {
    /* padding: 0 !important; */
    border: none !important;
    div.header-gradient {
      background: linear-gradient(90deg, #64b5f6, #81c784); /* blue to green */
      margin-bottom: 1em;
      color: white !important;
      border-radius: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2.ui.header.header-box {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      width: 82%;
      padding: 5px !important;
      align-items: center;
      background: linear-gradient(90deg, #64b5f6, #81c784); /* blue to green */
      border-radius: 16px;

      i.laptop {
        margin: 0;
      }

      .content {
        display: flex;
        align-items: center;
        padding-left: 2rem;
      }
    }
    h4.ui.header {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 5px 0;
      color: #000 !important;
    }
    .ui.grid {
      margin: 0;
    }
  }
  .ui.raised.segment {
    padding: 0 1em;
  }

  .btn-block {
    .ui.circular.button {
      margin-right: 1.5rem !important;
      width: 40px;
    }

    .logout-btn {
      /* width: 80px!important; */
      margin-right: 15px;
    }
  }

  .notification-button {
    position: fixed;
    top: 1rem;
    right: 4rem;
    z-index: 1000;
  }

  .logout-btn .icon {
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  .elearning-grid {
    background: #f9fbe7;
  }
}
